---
interface NavItem { url: string; title: string }
interface NavGroup { label: string; href?: string; items: NavItem[] }

import CollapsibleSection from './CollapsibleSection.astro'
import SidebarItem from './SidebarItem.astro'

const { nav, heading = 'Contents', currentPath = '' } = Astro.props as {
  nav: NavGroup[]
  heading?: string
  currentPath?: string
}

const normalize = (p: string) => (p ? p.replace(/\/$/, '') : '')
---

<nav aria-label={heading} class="p-4 min-w-[25%] h-full">
  {nav.map((group) => {
    const isActive = group.items.some((i) => normalize(i.url) === normalize(currentPath))
    const isSingle = group.items.length === 0 && !!group.href

    return (
      <>
        {isSingle ? (
          <SidebarItem url={group.href!} title={group.label} currentPath={currentPath} />
        ) : (
          <CollapsibleSection label={group.label} href={group.href} open={isActive} active={isActive}>
            <ul class="list-none p-0 m-0 pl-3">
              {group.items.map((item) => (
                <li>
                  <SidebarItem url={item.url} title={item.title} currentPath={currentPath} />
                </li>
              ))}
            </ul>
          </CollapsibleSection>
        )}
      </>
    )
  })}
</nav>
